
/*------------------------------------------------------General styles */

@font-face {
  font-family: 'GT Planar';
  src: local(''),
       url("fonts/GT-Planar-Regular.otf") format('opentype'); 
}

@font-face {
    font-family: 'GT Planar 30';
    src: url('fonts/GT-Planar-Italic-30-Regular.otf') format('opentype');
}
















